<launch>

    <!-- Input/output ROS topic names -->
    <arg name="topic_sub_depth" default="/viper/left/depth_image/norobot"/>
    <arg name="topic_sub_rgb" default="/viper/left/image_rect"/>
    <arg name="topic_sub_info" default="/viper/left/camera_info"/>
    <arg name="topic_pub_pcl" default="/urdf_filtered_mask"/>

	<node name="depth2pcl" pkg="depth2pcl" type="depth2pcl" output="screen">
	   <param name="topic_sub_depth" value="$(arg topic_sub_depth)" />
	   <param name="topic_sub_rgb" value="$(arg topic_sub_rgb)" />
	   <param name="topic_sub_info" value="$(arg topic_sub_info)" />
	   <param name="topic_pub_pcl" value="$(arg topic_pub_pcl)" />
     </node>
    
</launch>
